
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.id %></td>
        <td><%= entry.title %></td>
        <td><%= entry.entry %></td>
        <td><%=l entry.created_at, format: :long %></td>
        <td>
          <%= link_to entry_path(entry), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
       

