<!DOCTYPE html>
<html>
<head>
  <title>Spiritbook</title>
  <meta property="og:title" content="SpiritBook.me - A place to share stories from your spiritual journey:" />
<meta property="og:type" content="company" />
<meta property="og:site_name" content="SpiritBook.me - A place to share stories from your spiritual journey:" />
<meta property="og:description" content="<h1><b>SpiritBook.me</b>
Changelings, Meditations, Poems, Rants,  <br>
Dreams, Wishes, Prayers and anything else.
<br>Express your highest self.
Up vote your favorite content.
Connects you to your highest vibration." />
<meta property="og:url" content="www.spiritbook.me" />
<meta property="og:image" content="https://launchrock-assets.s3.amazonaws.com/facebook-files/76VRHM35_1405645149187.png?_=0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1"/><!-- Prelang: Analytics / Google Analytics -->
    <%= analytics_init if Rails.env.production? %>
    <link rel="shortcut icon" href="..public/favicon.ico" />

</head>

<body>
<%= render partial: "elements/navbar" %>
<%= bootstrap_flash %>


<%= yield %>

</body>
</html>
